  <!-- 
    Filename:     index.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>Hello! Welcome to my page.My name is An Hye-sun, the owner of this homepage.</p>
     <p>This page was created as a COMP229 Assignment in Centennial College.</p>
     <p>Press each menu to navigate to the appropriate page.</p>   
     <p>Thank you for visiting.</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   