<!-- 
    Filename:     iservices.ejs 
    Student name: Hyesun An
    StudentID:    301314692
    Date:         Oct. 2, 2023 
  -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">My <%= title %></h1>
      <div class="container services-style">
        <!-- List of services -->

  
            
          <img src="\img\game.jpg" alt="Photo" style: width="300px"; height="300px">
         
        <h2 style="color:antiquewhite; margin-top:5%;margin-left:5%;"><u>Services Offered for Clients:</u></h2>
        <ul style="color:antiquewhite; margin-top:5%;margin-left:5%;font-size:x-large;">
          <li>Website Development</li>
            <br>
              <br>
          <li>Maintaining/Manipulation of Database and handling SQL queries</li>
            <br>
            <br>
          <li>General Programming</li>
            <br>
              <br>
          <li>Building Web/Mobile Applications</li>
            <br>
              <br>
          <li>Front & Back end development & support</li>
        </ul>
      </div>
    </div>
  </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

   